{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <form action="/quotes" method="POST">
        <fieldset>
            <legend>Create A New Quote</legend>
            <label class="form-label"> Name:</label>
            <input 
                class="form-control" 
                type="text" 
                name="name" 
                placeholder="enter name"
            >
            <label class="form-label"> Number:</label>
            <input 
                class="form-control" 
                type="text" 
                name="number" 
                placeholder="enter phone number"
            >
            <label class="form-label">Brief Description Of Issue:</label>
            <input 
                class="form-control" 
                type="text" 
                name="Issue"
                placeholder="enter repair option here"
            >
            <label class="form-label"> 
            Select A Device:</label>
            <select name="device" id="device">
            {% for device in devices %}
            <option value={{device._id}}>          
                    {{device.make}}                {{device.model}}</option>
                {% endfor %}
                </select>  
        </fieldset>
        <input 
            type="submit" 
            value="Create New Quote" 
            class="btn btn-success"
        >
    </form>
</div>
{% endblock%}