{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <h3>Thanks {{quote.name}}, Your Est. Quote For 
    {{quote.device.make}}-{{quote.device.model}} Repair Will Be ${{quote.device.repairCost}}!</h3>

    <h5> Visit One Of Repair Locations Today, Estimated Time Of Repair Is Between 15-25 Minutes ! </h5>


    
    
</div>
{% endblock%}